*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-hap{
    color: #f47a3d;
}
body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
ul li{
    list-style: none;
    color: #2d2d2d;
}
.view-sesion{
    height: 100vh;
}
.component-nav{
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px !important;
    padding-right: 40px;
}
.navChild:first-child img{
    margin: 5px;
    height: 45px;
    width: 170px;
    align-items: flex-start;
}
.navChild:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.navItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 30px;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    margin:0 110px 0 0;
}
.navChild:last-child ul{
    display: none;
 }
.choose-language a{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.choose-language a img:nth-child(2){
    width: 1.2rem;
    height: 1.2rem;
}
.navChild:last-child img{
    width: 35px;
    height: 35px;
}
.main-menu{
    position: relative;
}
.main-menu a:hover{
    color: #f47a3d;
}
.banner{
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/website-hap/image/team-meeting-1024x708.jpg') no-repeat center center/cover;
    padding-top: 20vh;
    color: white;
}
.btn-color-orange,
.button{
    height: 60px;
    min-width: 160px;
    border-radius: 28px;
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.btn-color-orange{
    background-color: #f47a3d;
    border: none;
    color: white;
}
.btnGetStart:hover,
.btn-color-orange:hover,
.button:hover,
.navChild:last-child > button:hover
{
    background-color: #4B2ECB;
}
.bannerChild h1{
    color: #FFFFFF;
    font-size: 80px;
    line-height: 1em;
    margin: 35px 0;
}
.containerChild-INTRODUCTION .view-sesion{
    background-image: url("/website-hap/image/anhnen.png");
    display: flex;
    background-size:cover;
    background-position-y: 50%;
    flex-direction: row;
    padding: 80px 8% 50px 8%;
    height: 100%;
}
.containerItem-INTRODUCTION:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 20px;
    width: 50%;
    height: 100%;
}
.containerItem-INTRODUCTION:last-child p:nth-child(3),
.containerItem-INTRODUCTION:last-child p:nth-child(6){
    color: #f47a3d;
}
.containerItem-INTRODUCTION:last-child p:nth-child(2),
.containerItem-INTRODUCTION:last-child p:nth-child(4){
    width: 80%;
}
.containerItem-INTRODUCTION:last-child{
    width: calc(50% - 20px);
}
.containerItem-Img:first-child{
    width: 60%;
    overflow: hidden;
    margin:30px 20px 0 auto;
}
.containerItem-Img:nth-child(2){
    height: 100%;
    width: 75%;
    border-radius: 25px;
    margin-left: auto;
    object-fit: cover;
    margin-right: auto;
}
.containerItem-Img:last-child{
    width: 50%;
    margin-left: 40%;
    margin-top: 30px;
}
.txt-INTRODUCTION{
    display: flex;
    flex-direction: column;
    background-color: #050a1d;
    padding: 4vh;
    border-radius: 22px;
    position: relative;
    left: 120px;
    bottom: 25%;
    border: 10px solid #e8ebee;
    height: 100%;
    width: 100%;
}
.containerItem-Text >p{
    color: white;
    font-size: 4vh;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 3vh;
}
.containerItem-Text > button{
    width: 50%;
}

.containerItem-INTRODUCTION:nth-child(2){

}
.circle-image {
    border-radius: 50%;
    object-fit: cover;
}
.txt{
    color: #3f4c7c;
    font-size: 20px;
}
.title{
    font-weight: bold;
    color: #1d243c;
    font-size: 40px;
}
.name-box{
    color: #f47a3d;
    font-size: 25px;
}
.line-namebox {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}
.line-namebox::before {
    content: "";
    width: 7vh;
    height: 3px;
    background-color: #f47a3d;
    margin-right: 10px;
    display: inline-block;
}
.txt-center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*footer*/
.footer{
    background-color:  #1b1a1d;
    padding: 10vh 13vh 0 13vh;
    color: white;
    background-image: url("https://demo.sandamedia.net/sotech/wp-content/uploads/2024/05/bg-footer-right.webp");
    background-position: bottom right;
    background-repeat: no-repeat;
}
.containerChild-Foodter{
    display: grid;
    grid-template-columns:2fr 1fr 1fr 2fr;
    gap: 30px;
    margin-bottom: 10vh;
}
.icon-logo ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size:16px;
}
svg{
    fill: currentColor;
    color: #f03b01;
}
.last-child-foodter{
    font-size: 20px;
    padding: 36px 0 20px 0;
    border-top: 1px solid #ffffff1A;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-color:  #262527;
}
.child-foodter:nth-child(2) p,
.child-foodter:nth-child(3) p,
.child-foodter:nth-child(4) p{
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 2em;
    font-weight: bold;
    border-bottom: #1c272e 2px solid;
    position: relative;
}
.child-foodter:nth-child(2) p:before,
.child-foodter:nth-child(3) p:before,
.child-foodter:nth-child(4) p:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 55%;
    height: 2px;
    border-bottom: #f47a3d 2px solid;
    transform: translateY(96%);
}
.child-foodter:nth-child(4) img{
    width: 100%;
    height: 10vh;
    object-fit: cover;
}
.child-foodter ul{
    padding:0 !important;
}
.child-foodter li,
.child-foodter:nth-child(1) p
{
    font-size: 16px;
    margin: 10px 0;
    color: white;
}
/*service*/
.service-company{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/website-hap/image/bachgrow-sevice.png') no-repeat center center/cover;
    background-position-y:0;
}
.service-content{
    margin: auto;
    width: 80%;
    padding: 10vh 0;
    height: 100%;
}
.service-content-child:last-child{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 3em;
    height: 100%;
}
.service-content-child-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-service{
    padding: 2em;
    height: 45vh !important;
    position: relative;
    z-index: 1;
    border-style: none !important;
    justify-content: space-around;
}
.number-card-service{
    display: flex;
    align-items:flex-end ;
    border-bottom: 2px solid rgb(47, 47, 47);
}
.number-card-service span {
    background-color: rgb(47, 47, 47);
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.icon-service {
    width: 50%;
    margin-bottom: 25px;
}
/*contact us*/
.contact-us{
    display: flex;
    background-color: #f47a3d;
    padding: 5em;
    color: white;
    height: 95vh;
}
.content-contact-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-contact-child > .line-namebox:before{
    background-color: white;
}
.container-contact{
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.item-contact-child{
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center;
}
.icon-contact{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.icon-contact img{
    width: 36px;
}
.text-contact-child{
    width: 80%;
}
.form-contact{
    background-color: white;
    padding: 2em;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 10px 10px 30px 10px #dbc09b;
}
.form-contact-input{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-contact-input input,
.form-contact-input textarea{
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: #6a6f78;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}
.form-contact-input textarea{
    height: 17vh;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.icon-contact-phone{
    animation: pulse 2s ease-in-out infinite;
}
/*our team mate*/
.team-mate{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    padding: 3em 5em;
}
.title-content-teammate{
    margin-bottom: 50px;
}
.content-teammate{
    width: 100%;
}
.buttons-teammate {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.btn-teammate-prev,
.btn-teammate-next {
    border-radius: 50%;
    background-color: white;
    border: none;
}
.buttons-teammate img {
    width: 50px;
    height: 50px;
}
.slide-teammate{
    display: flex;
    gap: 30px;
}
.item-slide-teammate{
    background-color: white;
    padding: 1em 1em 0;
    width: 25%;
    height: 250px;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
}
.slide-teammate-img{
    height: 100%;
}
.slide-teammate-img img{
    width: 100%;
    height: 120%;
    object-fit: cover;
}
.item-slide-teammate:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:0;
    background-color: #f47a3d;
    transition: height 0.3s;
    z-index: -1;
}
.item-slide-teammate:hover{
    color: white;
}
.item-slide-teammate:hover:before{
    height: 100%;
}
/*banner content page*/
.banner-content{
    overflow: hidden;
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/website-hap/image/bg-h4.png) no-repeat center center / cover;
    padding: 3em;
}
.banner-content-child{
    border: 1px solid #6a6f78;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-content-child-button{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content-child-button button{
    width: 200px;
}
/*about us*/
.about{

    width: 100%;
    height: 100%;
    padding: 5em;
    background: url("/website-hap/image/backgoud-aboutus.png") no-repeat top center/cover;");
}
.container-about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.about-child{
    width: 50%;
    height: 100%;
}
.about-child-title{
    border-bottom: 2px solid #f47a3d;
    margin-bottom: 3rem;
}
.about-child-text{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
    height: 30vh;
}
.number-text-aboutchild{
    width: 3rem;
    height: 3rem;
    background-color: #f47a3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.content-text-aboutchild{
    width: calc(100% - 5rem);
    padding-right: 4rem;
}
.about-child:last-child{
    width: calc(100% - 50%);
    display: flex;
    gap: 1rem;
    height: 100%;

}
.about-child-img{
    width: 100%;
    height: 75vh;
}
.about-child-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-child-img:nth-child(2){
    margin-top: 5rem;
}