*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-hap{
    color: #f47a3d !important;
}
body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
ul li{
    list-style: none;
    color: #2d2d2d;
}
.view-sesion{
    height: 100vh;
}
.component-nav{
    top: 0;
    width: 100%;
    z-index: 1000;
}
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}
#navbar.hidden {
    transform: translateY(-100%);
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px !important;
    padding-right: 40px;
}
.navChild:first-child img{
    margin: 5px;
    height: 45px;
    width: 170px;
    align-items: flex-start;
}
.navChild:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.navItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 30px;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    margin:0 110px 0 0;
}
/*choose language start*/
.show{
    display: block !important;
}
.choose-language ul{
    display: none;
    position: absolute;
    top:55px;
    right: 30px;
    background-color: darkgray;
    padding-left: 0;
    border-radius: .25rem;
 }
.choose-language li{
    display: block;
    padding: .75rem 2.5rem .75rem 1rem;
    border-bottom: 1px solid white;
}
.choose-language li:last-child{
    border-bottom: none;
}
.choose-language li:hover{
    background-color: #f47a3d;
    color: white;
}
.choose-language li:nth-child(1):hover{
    border-radius:.25rem .25rem  0 0;
}
.choose-language li:last-child:hover{
    border-radius: 0 0 .25rem .25rem ;
}
.choose-language li:nth-child(1):hover,
.choose-language li:last-child:hover{

}
.choose-language a{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.choose-language a img:nth-child(2){
    width: 1.2rem;
    height: 1.2rem;
}
/*choose language end*/
.navChild:last-child img{
    width: 35px;
    height: 35px;
}
.main-menu{
    position: relative;
}
.main-menu a:hover{
    color: #f47a3d;
}
.banner{
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/website-hap/image/team-meeting-1024x708.jpg') no-repeat center center/cover;
    padding-top: 20vh;
    color: white;
}
.btn-color-orange,
.button{
    height: 60px;
    min-width: 160px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.btn-color-orange{
    background-color: #f47a3d;
    color: white;
}
.btn-color-orange:hover,
.button:hover,
.navChild:last-child > button:hover
{
    background-color: white;
    color: black;
    box-shadow: 0 0 15px 2px white;
}
.button:hover{
    background-color: #f47a3d;
    color: white;
}
.bannerChild h1{
    color: #FFFFFF;
    font-size: 80px;
    line-height: 1em;
    margin: 35px 0;
}
.circle-image {
    border-radius: 50%;
    object-fit: cover;
}
.txt{
    color: #3f4c7c;
    font-size: 20px;
}
.title{
    font-weight: bold;
    color: #1d243c;
    font-size: 40px;
}
.name-box{
    color: #f47a3d;
    font-size: 25px;
}
.line-namebox {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}
.line-namebox::before {
    content: "";
    width: 7vh;
    height: 3px;
    background-color: #f47a3d;
    margin-right: 10px;
    display: inline-block;
}
.txt-center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*footer*/
.footer{
    background-color:  #1b1a1d;
    padding: 10vh 13vh 0 13vh;
    color: white;
    background-image: url("https://demo.sandamedia.net/sotech/wp-content/uploads/2024/05/bg-footer-right.webp");
    background-position: bottom right;
    background-repeat: no-repeat;
}
.containerChild-Foodter{
    display: grid;
    grid-template-columns:2fr 1fr 1fr 2fr;
    gap: 30px;
    margin-bottom: 10vh;
}
.icon-logo ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size:16px;
}
svg{
    fill: currentColor;
    color: #f03b01;
}
.last-child-foodter{
    font-size: 20px;
    padding: 36px 0 20px 0;
    border-top: 1px solid #ffffff1A;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-color:  #262527;
}
.child-foodter:nth-child(2) p,
.child-foodter:nth-child(3) p,
.child-foodter:nth-child(4) p{
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 2em;
    font-weight: bold;
    border-bottom: #1c272e 2px solid;
    position: relative;
}
.child-foodter:nth-child(2) p:before,
.child-foodter:nth-child(3) p:before,
.child-foodter:nth-child(4) p:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 55%;
    height: 2px;
    border-bottom: #f47a3d 2px solid;
    transform: translateY(96%);
}
.child-foodter:nth-child(4) img{
    width: 100%;
    height: 10vh;
    object-fit: cover;
}
.child-foodter ul{
    padding:0 !important;
}
.child-foodter li,
.child-foodter:nth-child(1) p
{
    font-size: 16px;
    margin: 10px 0;
    color: white;
}
/*Why choose us*/
.why-choose-company{
    width: 100%;
    height: 100%;
    background-position-y:0;
}
.why-choose-content{
    margin: auto;
    width: 80%;
    padding: 10vh 0;
    height: 100%;
}
.why-choose-content-child:last-child{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 3em;
    height: 100%;
}
.card-why-choose{
    background-color: darkgray !important;
    padding: 2em;
    height: 45vh !important;
    position: relative;
    z-index: 1;
    justify-content: space-around;
}
.number-card-why-choose{
    display: flex;
    align-items:flex-end ;
    border-bottom: 2px solid rgb(47, 47, 47);
}
.number-card-why-choose span {
    background-color: rgb(47, 47, 47);
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.icon-why-choose{
    width: 50%;
    margin-bottom: 25px;
}
/*contact us*/
.contact-us{
    display: flex;
    background-color: #2d2d2d;
    padding: 5em;
    color: white;
    height: 100vh;
}
.content-contact-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-contact-child:first-child{
    width: 40%;
}
.content-contact-child:last-child{
    width: 60%;
}
.container-contact{
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.item-contact-child{
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center;
}
.icon-contact{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.icon-contact img{
    width: 36px;
}
.text-contact-child{
    width: 80%;
}
.form-contact{
    padding: 2em;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 30px 10px #181817;
}
.form-contact-input{
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "first-name last-name"
        "email phone"
        "other-contact country"
        "company job-title"
        "message message"
}
.form-contact-input input,
.form-contact-input select,
.form-contact-input textarea{
    width: 100%;
    padding: 8px 16px;
    font-size: 18px;
    color: white;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: darkgray;
}
.form-contact-input input::placeholder,
.form-contact-input textarea::placeholder{
    color: white;
}
.form-contact-input textarea{
    height: 17vh;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.icon-contact-phone{
    animation: pulse 2s ease-in-out infinite;
}
/*our team mate*/
.team-mate{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    padding: 3em 5em;
}
.title-content-teammate{
    margin-bottom: 50px;
}
.content-teammate{
    width: 100%;
}
.buttons-teammate {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.btn-teammate-prev,
.btn-teammate-next {
    border-radius: 50%;
    background-color: white;
    border: none;
}
.buttons-teammate img {
    width: 50px;
    height: 50px;
}
.slide-teammate{
    display: flex;
    gap: 30px;
}
.item-slide-teammate{
    background-color: white;
    padding: 1em 1em 0;
    width: 25%;
    height: 250px;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
}
.slide-teammate-img{
    height: 100%;
}
.slide-teammate-img img{
    width: 100%;
    height: 120%;
    object-fit: cover;
    border-radius: 5px;
}
.item-slide-teammate:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:0;
    background-color: #f47a3d;
    transition: height 0.3s;
    z-index: -1;
}
.item-slide-teammate:hover{
    color: white;
}
.item-slide-teammate:hover:before{
    height: 100%;
}
/*banner content page*/
.banner-content{
    overflow: hidden;
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/website-hap/image/bg-h4.png) no-repeat center center / cover;
    padding: 3em;
}
.banner-content-child{
    border: 1px solid #6a6f78;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-content-child-button{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content-child-button button{
    width: 200px;
}
/*about us*/
.about{

    width: 100%;
    height: 100%;
    padding: 5em;
    background: url("/website-hap/image/backgoud-aboutus.png") no-repeat top center/cover;");
}
.container-about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.about-child{
    width: 50%;
    height: 100%;
}
.about-child-title{
    border-bottom: 2px solid #f47a3d;
    margin-bottom: 3rem;
}
.about-child-text{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
    height: 30vh;
}
.number-text-aboutchild{
    width: 3rem;
    height: 3rem;
    background-color: #f47a3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.content-text-aboutchild{
    width: calc(100% - 5rem);
    padding-right: 4rem;
}
.about-child:last-child{
    width: calc(100% - 50%);
    display: flex;
    gap: 1rem;
    height: 100%;

}
.about-child-img{
    width: 100%;
    height: 75vh;
}
.about-child-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-child-img:nth-child(2){
    margin-top: 5rem;
}
/*<!--    Multiples contacts    -->*/
#tool__society .tool__item {
    bottom: 250px;
    cursor: pointer;
    position: fixed;
    right: 0;
    width: 48px;
    z-index: 1000;
    color: white;
}
#tool__society .tool__item .tool__icon {
    background-color: #f47a3d;
    background-position: 16px center;
    background-repeat: no-repeat;
    border-radius: 30px 0 0 30px;
    border: 2px solid #fff;
    border-right: 0;
    clear: both;
    float: left;
    font-style: normal;
    height: 42px;
    line-height: 46px;
    margin-bottom: 12px;
    padding-left: 100%;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, margin 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    white-space: nowrap;
    font-weight: 600;
    display: flex;
    align-items: center;
}
#tool__society .tool__item .tool__icon:hover {
    margin-left: 48px;
    padding-left: 50px;
    padding-right: 16px;
    text-decoration: none;
    transform: translateX(-100%);
}
/*   TECH STACK   */
.support-tech{
    width: 100%;
    height: 100%;
    padding: 64px 112px;
    display: flex;
    justify-content: center;
}
.container-support{
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
}
.item-list-tech{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 3px;
    align-items: center;
    margin-bottom: 16px;
    height: 80px;
    width: 100%;
}
.name-list-tech{
    height: 100%;
    background-color: #F6F7FC;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    transition: all 300ms ease 0ms;
    min-height: 62px;
}
.name-list-tech img{
    width: 0;
    height: 0;
    visibility: hidden;
    transition: all 300ms ease 0ms;
}
.name-list-tech h3{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 300ms ease 0ms;
}
.list-tech{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    touch-action: pan-y;
}
.list-tech-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F7FC;
    height: 80px;
    margin: 0 2px;
    padding: 20px;
    filter: grayscale(1);
    min-width: 120px;
    max-width: 141px;
}
.item-list-tech:hover .name-list-tech,
.item-list-tech:hover .list-tech-img{
    background-color: #f47a3d;
    filter: grayscale(0);
}
.item-list-tech:hover .list-tech-img{
background-color: #f7b56b;
}
.item-list-tech:hover .list-tech-img{
    min-width: 127px;
}
.item-list-tech:hover .name-list-tech img{
    visibility: visible;
    width: 35px;
    height: 35px;
    padding: 0.5rem;
    background-color: white;
}
/*    service    */
.service{
    background: url("/website-hap/image/background-service.png") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    padding: 65px 50px;
}
.title-container-service{
    margin: auto;
    width: 70%;
    border-bottom: 2px solid white;
}
.item-container-service{
    height: 100%;
    width: calc(33.33% - 10px);
}
.content-container-service{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.img-container-service img{
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.text-service:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*certifications*/
.certifications{
    width: 100%;
    height: 100%;
    padding: 60px;
}
.item-container-certifications:first-child{
    width: 40%;
    padding-bottom: 3em;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-container-certifications:last-child{
    width: calc(60% - 10px);
    margin-left: 10px;
}
.container-certifications{
    display: flex;
    width: 100%;
    height: 100%;
}
.certifications-img{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 37vh 37vh;
    gap: 1em;
    grid-template-areas:
    "img1 img1 img2"
    "img3 img4 img4";
    object-fit: cover;
}
.certifications-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-certifications{
    width: 100%;
    display: flex;
    gap: 20px;
}
.item-card-certifications{
    padding: 1.5rem;
    width: calc(33.33% - 20px);
    background-color: #f47a3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.item-card-certifications img{
    width: 50px;
    height: 50px;
}